body {
  background: #eee; }

svg {
  width: 50px;
  height: 50px; }

h3 {
  margin-top: 50px; }

.row {
  display: flex;
  flex-direction: column-reverse;
  width: 100%; }

.tile {
  height: 50px;
  width: 50px; }

.posTile {
  background: #fffffe !important;
  box-shadow: 0px 0px 16px 0px inset; }

.enemyPosTile {
  background: red !important;
  box-shadow: 0px 0px 16px 0px inset; }

.row:nth-child(2n+1) .tile:nth-child(2n+1) {
  background: #b58763; }

.row:nth-child(2n+1) .tile:nth-child(2n) {
  background: #f0dab5; }

.row:nth-child(2n) .tile:nth-child(2n) {
  background: #b58763; }

.row:nth-child(2n) .tile:nth-child(2n+1) {
  background: #f0dab5; }

.chess-board {
  width: 400px;
  height: 400px;
  background: aliceblue;
  display: flex;
  flex-direction: row; }

.chess-game {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.piece {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px; }

.row.A::after, .row.B::after, .row.C::after, .row.D::after, .row.E::after, .row.F::after, .row.G::after, .row.H::after {
  position: absolute;
  margin-top: 25px;
  margin-left: 18px; }

.row.A .tile:nth-child(1)::before, .row.A .tile:nth-child(2)::before, .row.A .tile:nth-child(3)::before, .row.A .tile:nth-child(4)::before, .row.A .tile:nth-child(5)::before, .row.A .tile:nth-child(6)::before, .row.A .tile:nth-child(7)::before, .row.A .tile:nth-child(8)::before {
  margin-left: -25px;
  position: absolute;
  margin-top: 20px; }

.row.A::after {
  content: 'A'; }

.row.B::after {
  content: 'B'; }

.row.C::after {
  content: 'C'; }

.row.D::after {
  content: 'D'; }

.row.E::after {
  content: 'E'; }

.row.F::after {
  content: 'F'; }

.row.G::after {
  content: 'G'; }

.row.H::after {
  content: 'H'; }

.row.A .tile:nth-child(1)::before {
  content: '1'; }

.row.A .tile:nth-child(2)::before {
  content: '2'; }

.row.A .tile:nth-child(3)::before {
  content: '3'; }

.row.A .tile:nth-child(4)::before {
  content: '4'; }

.row.A .tile:nth-child(5)::before {
  content: '5'; }

.row.A .tile:nth-child(6)::before {
  content: '6'; }

.row.A .tile:nth-child(7)::before {
  content: '7'; }

.row.A .tile:nth-child(8)::before {
  content: '8'; }

